*{
    padding: 0;
    margin: 0;
}

:root{
   --main-color:#B50014;
   --text-color:#FFF;
   --p-size:16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--p-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  display: flex;
}

nav li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

nav li a:hover {
  background-color: #333;
  color: #fff;
}

.download p:hover {
  background-color: #333;
  color: #fff;
}

.download p {
  margin-top: 30px;
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  text-align: left;
}

.download p::before{
  content: url(resources/Frame.svg);
}

.download{
  display: block;
}

#dl{
  overflow: hidden;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--p-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  width: auto;
  height: 93px; /* Set the desired height for your navbar */
  background-color: var(--main-color); /* Set the desired background color */
}

.bar{
    height: 30px;
    width: auto;
    background-color:#252525;
}

.clock {
    font-size: 14px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    text-align: right;

}
.clock p {
    font-size: 14px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding: 7px 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clock p::before{
  content: url(resources/clock.svg);
}

.logo {
  width: 150px; /* adjust the size according to your preference */
  height: auto;
}

.logo img {
  left: 300px;
  position: absolute;
  width: 177.2px;
  height: 177.2px;
}

.dude {
    height: auto;
    width: auto;
    object-fit: cover;
    display: flex;
}


@media only screen and (max-width: 600px) {
    .logo img {
      left:45%;
      right:55%;
    }
  }

.floater{
    position: absolute;
    width: 629px;
    height: 348px;
    flex-shrink: 0; 
    background: rgba(0, 0, 0, 0.30); 
    top: 30%;
    left: 0;
}

.floater p{
  text-align: left;
  padding-top: 15px;
  padding-left: 298px;
  padding-right: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: var(--p-size);
  font-style: normal;
  font-weight: 300;
  line-height: 24px; 
  color: var(--text-color);
}

.floater h1{
  text-align: left;
  padding-top: 67px;
  padding-right: 87px;
  padding-left: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color);
}

