*{
    padding: 0;
    margin: 0;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 400px;
margin-top: 30px;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
}

nav li a:hover {
  background-color: #333;
  color: #fff;
}


.navbar-background {
  display: flex;
  top: 0;
  left: 0;
  width: auto;
  height: 93px; /* Set the desired height for your navbar */
  background-color: #B50014; /* Set the desired background color */
}

.bar{
    height: 30px;
    width: auto;
    background-color:#252525;
}

.clock {
    font-size: 14px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: right;

}
.clock p {
    font-size: 14px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding: 7px 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
  width: 150px; /* adjust the size according to your preference */
  height: auto;
}

.logo img {
  left: 300px;
  position: absolute;
  width: 177.2px;
  height: 177.2px;
}

.dude {
    height: auto;
    width: auto;
    object-fit: cover;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .logo img {
      left:45%;
      right:55%;
    }
  }

.floater{
    position: absolute;
    width: 629px;
    height: 348px;
    flex-shrink: 0; 
    background: rgba(0, 0, 0, 0.30); 
}